.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

/tests/tests/
/tests/results/
*license.txt
*readme.rst
/.vscode
/system
/user_guide
/application/cache
/application/core
/application/errors
/application/helpers
/application/hooks
/application/language
/application/logs
/application/third_party
/application/config/doctypes.php
*composer.json
*contributing.md
*index.php
*readme.rst
/assets
/pages

